<!DOCTYPE html>

<html>

<head>
    <title>
        About Page
    </title>
    <link rel="icon" href="/img/weather.png" >
    <link rel="stylesheet" href="./css/style.css" >
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>{{name}} - {{age}}</h1>
    <img class="portrait" src="/img/jon.png" >
    </div>
    {{>footer}}
</body>
</html>